// Widescreens
@include mediaXL {}

//Desktops & laptops
@include mediaLg {}

//Tablets and small laptops
@include mediaMd {
  

    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;

    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0);

        .portrait {
            padding: 2rem 0;
            background: url(../images/portrait_small.jpg);
            width: 150px;
            height: 150px;
        }
    }

    .about-info {
        grid-template-areas:
            'bioimage'
            'bio'
            'job1'
            'job2'
            'job3';

        grid-template-columns: 1fr;
    }

    .projects {
        .row {
            grid-template-columns: 1fr;
            grid-gap: 2rem;
            margin-bottom: 8rem;
        }
    }
}

//Smartphones
@include mediaSm {
  

    * {
        font-size: 12px;
    }

    h1,
    h2,
    h3 {
        margin: 0;
        font-weight: 300;

        &.lg-heading {
            font-size: 2.5rem;
        }
    }

    .text-secondary {
        font-size: 32px;
    }

    .about-info {
        &.bio {
            &.text-secondary {
                font-size: 12px;
            }
        }
    }

    main {
        padding: 2rem;

        #home h1 {
            margin-top: 10vh;
        }
    }

    .lg-heading {
        margin-top: 1rem;
        font-size: 2.5rem;
    }

    #projects {
        .item{
            margin-bottom: 4rem;
        }
        .row {
            grid-template-columns: 1fr;
            grid-gap: 5rem;
            margin-bottom: 2rem;

            .project-desc{
                font-size: 24px;
            }

            img-cont {
                overflow: hidden;
            }

            img {
                width: 100%;
                display: block;
                object-fit: cover;
            }
        }
    }
}